  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Restaurant",
    "name": "Burgers N Beyond",
    "image": "https://hussainbadat10.github.io/burgers-and-beyond/images/og-image.png",
    "url": "https://hussainbadat10.github.io/burgers-and-beyond/index.html",
    "telephone": ["+27825140077", "+27824211750"],
    "email": "Burgersnbeyondsa@gmail.com",
    "priceRange": "R4 - R230",
    "servesCuisine": ["Burgers", "Fast Food", "South African"],
    "menu": "https://hussainbadat10.github.io/burgers-and-beyond/menu.html",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "80 Main Reef Rd",
      "addressLocality": "Randfontein",
      "postalCode": "1760",
      "addressCountry": "ZA"
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Saturday"],
        "opens": "10:00",
        "closes": "18:30"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Friday",
        "opens": "10:00",
        "closes": "12:20"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Friday",
        "opens": "13:20",
        "closes": "18:30"
      }
    ],
    "sameAs": ["https://www.instagram.com/burgers._n_beyond/"]
  }
  </script>
